{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >
    <script type="text/javascript">
        function populate(s1,s2){
	var s1 = document.getElementById(s1);
	var s2 = document.getElementById(s2);
	s2.innerHTML = "";
	if(s1.value === "II")
	{
		var optionArray = ["|","MI|Microprocessor & Interfaces","DMS|Discrete Mathematical Structure",
            "SPT|Statics & Probability Structure", "SE|Software Engineering","POC|Principal of Communication",
            "PPL|Principal of Programming Language"];
	}
	else if(s1.value === "III")
	{
		var optionArray = ["|","CN|Computer Networks", "DAA|Design and Analysis of Algorithm", "TOC|Theory of Computing"
            ,"JAVA|Programming in Java", "ITC|Information Technology & Coding",
            "ATOS|Advance Topics in Operating System"];
	}
	else if(s1.value === "IV")
	{
		var optionArray = ["|","DIP|Digital Image Processing","STV|Software Testing & Validation ",
            "DCT|Data Compression Techniques ", "MC|Mobile Computing"];
	}
	for(var option in optionArray){
		var pair = optionArray[option].split("|");
		var newOption = document.createElement("option");
		newOption.value = pair[0];
		newOption.innerHTML = pair[1];
		s2.options.add(newOption);
	}
}
    </script>

    <style>
        hr { background-color: red; height: 1px; border: 0; width: 80%; }

        .setform{width: 50%;
                    margin-left: 300px;
                    background-color: #F1F1F2;
                    padding: 10px;
                    border: 1px solid gray;
                }
        .btncolor {background-color: #f4511e; color: #f2f2f2;}
    </style>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'loggedIn' %}">Faculty Routine Scheduling</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'daily' %}"><span class="glyphicon glyphicon-list-alt"></span>ACTIVITY</a></li>
          <li><a href="{% url 'leave' %}"><span class="glyphicon glyphicon-new-window"></span>LEAVE</a></li>
          <li><a href="{% url 'report' %}"><span class="glyphicon glyphicon-file"></span>REPORT</a></li>
          <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span>PROFILE</a></li>
	    <li><a href="{% url 'Login' %}?action=logout"><span class="glyphicon glyphicon-log-out"></span>LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>

    <div class="container">
    <div class="setform">
        <h1 style="text-align: center">Update your today's Activity</h1><hr/>
        {% if messages %}
          {% for message in messages %}
            <div class="alert text-center alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
          {% endfor %}
        {% endif%}
    <form method="post">
        {% csrf_token %}
        <div class="form-group" >
            <label for="select1">Year:</label>
                <select id="select1" name="select1" class="form-control" onchange="populate(this.id,'select2')">
                    <option value="">Choose Year</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                </select>
        </div>

        <div class="form-group" >
            <label for="select2">Subject:</label>
                <select id="select2" class="form-control" name="select2"></select>
        </div>

        <div class="form-group" >
            <label for="lecture">Lecture No.:</label>
                <input type="number" name="lecture" id="lecture" class="form-control">
        </div>

        <div class="form-group" >
            <label>Summary:</label>
                <textarea name="summary" placeholder="topics covered..." class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btncolor">Submit</button>

    </form>
    </div>
    </div>

<BR><BR><BR><BR>




<footer class="container-fluid text-center">
  <p><span class="glyphicon glyphicon-copyright-mark"></span>All Rights Reserved 2019</p>
    <a href="https://www.facebook.com/Poornima.College.Engineering" class="fa fa-facebook"></a>
    <a href="https://twitter.com/poornimacollege" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/school/poornima-college-of-engineering-jaipur" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/poornimacollege/" class="fa fa-instagram"></a>
    <a href="https://www.youtube.com/channel/UCby64Y0FA2nPE4XmdkUHkuA" class="fa fa-youtube"></a>


</footer>



</body>
</html>