{% extends 'base.html' %}
{% load static %}


{% block head %}
    <title>Events Gallery</title>
    <style>

        * {
             box-sizing: border-box;
          }
        .column{ float: left;
                width: 33.33%;
                padding: 5px;


               }
        .row::after {
                content: "";
                clear: both;
                display: table;

                    }
        .eventback{background-color: #55ACEE}
        .hr2 { background-color: red; height: 1px; border: 0; width: 23%; }

        .thumbnail {
                padding: 0 0 15px 0;
                border: 1px solid black;
                border-radius: 0;
                margin: 5px;
                    }
        .thumbnail img
                    {
                width: 580px;
                height: 250px;
                margin-bottom: 10px;
                padding: 5px;
                    }

        #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: relative;
  top: 15px;
  right: 350px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
    </style>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url 'index' %}>Faculty Routine Scheduling</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-globe"></span>ABOUT</a></li>
        <li><a href="{% url 'events' %}"><span class="glyphicon glyphicon-picture"></span>GALLERY</a></li>
        <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-phone"></span>CONTACT</a></li>
          <li><a href="{% url 'Login' %}?action=logout"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav>
    <br/><br>
    <div class="container ">
        <h1 style="text-align: center">Events Gallery</h1><hr class="hr2"/>
        <div class="container ">
        <div class="alert alert-warning " role="alert" style="border-left: 6px solid red; color: #3B5998">
            <strong>Upcoming Event</strong><br>
            {% for item in upevent %}
            {{ item.description }}
            {% endfor %}
        </div>
        <div class="row">
            {% for item in event %}
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{{ item.Image.url }}" id="myImg" alt="{{ item.Title }}" >
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <script>
                        var modal = document.getElementById('myModal');

                        // Get the image and insert it inside the modal - use its "alt" text as a caption
                        var img = document.getElementById('myImg');
                        var modalImg = document.getElementById("img01");
                        var captionText = document.getElementById("caption");
                        img.onclick = function(){
                            modal.style.display = "block";
                            modalImg.src = this.src;
                            captionText.innerHTML = this.alt;
                            }

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() {
                    modal.style.display = "none";
}
                    </script>
                    <p class="text-center"><strong>{{ item.Title }}</strong></p>
                    <p class="text-center">{{ item.Description }}</p>
                </div>
            </div>

        {% endfor %}
        </div>
        </div>
    </div>

<br><br><br><br>
{% endblock %}
